# Byte-compiled / optimized / DLL files
**/__pycache__/

# Jupyter Notebook
**/.ipynb_checkpoints

# IDE
.idea/

HW4_TestCases/
data/
wandb/
checkpoints/
checkpoints_3/
checkpoints_final/

PostNMS/
PreNMS
Top_20_proposals/